@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var br = db.CompanyInfos.Single(b => b.AdminId == User.Identity.Name);
    var logo = string.Empty;
    var companyname = string.Empty;
    var incometype = string.Empty;
    var mr = db.Members.Single(m => m.Id == 1);
    var r = db.CompanyInfos.Single(ci => ci.AdminId == User.Identity.Name);

    logo = r.CompanyLogo;
    companyname = r.CompanyName;
    incometype = r.IncomeType;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "BranchReport";
}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Welcome, @br.CompanyName</h4>

        </div>
        <div class="row  row-cards">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">Field Reports</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-warning   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/BrokerlistBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">@mr.agentname List
                             <img alt="" src="/Images/icon/7.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-info   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/DatewiseBrokerOperator" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Datewise @mr.agentname List
                             <img alt="" src="/Images/icon/63.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">Official Reports</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-info   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/OperatorListBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Collection Point List
                             <img alt="" src="/Images/icon/22.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-warning   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/CustomerReportBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Customer List
                             <img alt="" src="/Images/icon/76.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-success   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/DailyExpenseBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Daily Expense Details
                             <img alt="" src="/Images/icon/76.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-primary   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/ClosingBalanceBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">RP Statement Report
                             <img alt="" src="/Images/icon/11.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-primary   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/DailyCollectionBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Daily Collection
                             <img alt="" src="/Images/icon/11.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-info   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/DuplicatePrintReportBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Duplicate Print
                             <img alt="" src="/Images/icon/74.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-warning   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/CancelReceiptBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Cancel Receipt List
                             <img alt="" src="/Images/icon/75.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-success   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/DateWiseCollectionBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Datewise Business
                             <img alt="" src="/Images/icon/74.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                   <div class="col-sm-12 col-lg-3">
                            <div class="card bg-success   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/CompleteDailyCollectionBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Datewise Collection Detail
                             <img alt="" src="/Images/icon/74.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-warning   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/CsswiseCollectionBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Csswise Business
                             <img alt="" src="/Images/icon/21.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-primary   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/FundMobilisationBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Fund Mobilisation
                             <img alt="" src="/Images/icon/5.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-info   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="MaturityPaidDetailsBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Maturity Paid Details
                             <img alt="" src="/Images/icon/27.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-success   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/PaidVoucherBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">Paid Voucher
                             <img alt="" src="/Images/icon/36.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="card bg-warning   card-img-holder text-white">
                                <div class="card-body" style="height:130px">
                                    <a href="~/Admin/UnpaidvoucherBranch" style="color: white">
                                        <img src="/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                                        <h4 class="font-weight-normal  mb-3">UnPaid Voucher
                             <img alt="" src="/Images/icon/65.png" class=" fs-30 float-right" />
                                        </h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>






				