@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "ChangePassword";
}

@using (@Html.BeginForm())
{
   
    
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h4 class="page-title">Change Password</h4>

                <button type="button" class="btn btn-outline-primary"><i class="fa fa-pencil mr-2"></i>@DateTime.Now</button>
            </div>
            <div class="row">
                <div class="col-12 card">
                    <div class="card-body">

                        @using (@Html.BeginForm())
                        {
   
                            <div class="row">
                                <div class="col-md-6">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Old Password</label>
                                        <input type="Password" id="oldpwd" class="form-control" name="Password" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">New Password</label>
                                        <input type="Password" id="newpwd" class="form-control" name="NewPassword" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Confirm Password</label>
                                        <input type="Password" id="cpwd" class="form-control " name="ConfirmPassword" required>
                                    </div>
                                </div>
                                   
                                <div class="card-footer text-right">
                                    <div class="d-flex">
                                        <button id="submit" class="btn btn-primary pull-Left" type="submit">Change Password</button>
                                    </div>
                                </div>

                                <h4 style="margin-left: 15px;">@ViewBag.msg</h4>
                                     </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>








}

    
    
    
    
    
    
    
    
    
    