@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "GenerateVoucher";
    var a = 0;
    MonthName mn = new MonthName();
}


<link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet">
<script src="~/Content/datepicker/jquery.plugin.js"></script>
<script src="~/Content/datepicker/jquery.datepick.js"></script>
<script>
    $(function () {
        $('#pdate').datepick();

    });


</script>


<link rel="stylesheet" href="~/Content/jquery-ui.css" />

<script type="text/javascript" src="~/Scripts/autosearch.js"></script> 
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Enter Generate Voucher</h4>
           
        </div>
        <div class="row">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">Enter Generate Voucher</h3>
                </div>
                <div class="card-body">
                  @using (Html.BeginForm())
                     {
                   
                        <div class="row">
                            
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Select Month  </label>
                                    <select class="form-control" id="month" name="month" required>
                                        <option selected>Select </option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Select Year</label>
                                    <select class="form-control" id="year" name="year" required>
                                        <option selected>Select </option>
                                        <option>2013 </option>
                                        <option>2014 </option>
                                        <option>2015 </option>
                                        <option>2016 </option>
                                        <option>2017 </option>
                                        <option>2018 </option>
                                        <option>2019 </option>
                                        <option>2020 </option>
                                        <option>2021 </option>
                                        <option>2022 </option>



                                    </select>
                                </div>
                            </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Enter Payment Date</label>
                                  <input type="text" id="pdate" name="paydate" class="form-control datepicker" required />
                                </div>
                            </div>
                            
                            <div class="card-footer text-right">
                                 <input type="submit" id="Pay" onclick="confirm('Are You Sure Generate Vocher?')"  name="Commond" class="btn btn-primary pull-right"/>
                               @ViewBag.msg     
                                 </div>
                        </div>
                   }
         
                </div>

            </div>
        </div>
    </div>
</div>













