@model IEnumerable<SPARSHBUILDCON.Models.promotiondetail>
@using SPARSHBUILDCON.Models
@{
    ViewBag.Title = "PromotionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    UsersContext db = new UsersContext();
    var a = 0;
    var mr = db.Members.Single(d => d.Id == 1);
  
}



<link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet" />
<script src="~/Content/datepicker/jquery.plugin.js"></script>
<script src="~/Content/datepicker/jquery.datepick.js"></script>

<script>
    $(function () {
        $('#sdate').datepick();
        $('#edate').datepick();
        
    });

</script>

<div class="my-3 my-md-5">
    <div class="container" id="divid1">
        <div class="page-header" id="2">
            <h4 class="page-title">@mr.agentname Promotion Report</h4>
           
        </div>
        <div class="row">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">@mr.agentname Promotion Report</h3>
                </div>
                <div class="card-body">
                  @using (Html.BeginForm())
                     {
                   
                        <div class="row" id="hide">
                            
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Start Date </label>
                                    <input type="text" id="sdate" class="form-control " required name="sdate" value="@ViewData["sdate"]" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">End Date</label>
                                    <input type="text" id="edate" class="form-control" required name="edate" value="@ViewData["edate"]" />
                                </div>
                            </div>
                             
                            
                            <div class="card-footer text-right">
                                 <button id="submit" value="Search" onclick="target='_blank'" class="btn btn-primary pull-right" type="submit">View</button>
                                 </div>
                        </div>
                   }
         
                </div>

            </div>
        </div>
    </div>
</div>

































