@{
    ViewBag.Title = "Banker";
}

  <!--======= BANNER =========-->
  <div class="sub-banner" style="background-image:url('../Content/Home/img/lyman-banner-agents.png')">
    <div class="overlay">
      <div class="container">
        <h1>Our Bankers</h1>
        <ol class="breadcrumb">
          <li class="pull-left">Our Bankers</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">Our Bankers</li>
        </ol>
      </div>
    </div>
  </div>
  
  
<!--======= CONTACT =========-->
  <section class="contact"> 
    
    <!--======= CONTACT INFORMATION =========-->
    <div class="contact-info">
      <div class="container"> 
        <!--======= CONTACT =========-->
        <ul class="row con-det">
          
          <!--======= ADDRESS =========-->
          <li class="col-md-6"> <img style="height:200px; width:350px;" src="~/Content/Home/img/noimage.jpg" />
            <p><b>Account Name :</b>SPARSH BUILDCON</p>
              <p><b>Branch Name :</b>NA</p>
			<p><b>A/C. NO. : </b>NA</p>
			<p><b>IFSC CODE : </b>NA</p>
            </li>
          
          <!--======= EMAIL =========-->
          <li class="col-md-6"> <img style="height:200px; width:350px;" src="~/Content/Home/img/noimage.png" />
             <p><b>Account Name : </b>SPARSH BUILDCON</p>
              <p><b>Branch Name : </b>NA</p>
			<p><b>A/C. NO. : </b>NA</p>
			<p><b>IFSC CODE : </b>NA</p>
          </li>                  
        </ul>
      </div>
    </div>
    
  </section>

  