@{
    ViewBag.Title = "companyprofile";
}



<!--======= BANNER =========-->
<div class="sub-banner" style="background-image: url('../Content/Home/img/lyman-banner-agents.png')">
    <div class="overlay">
        <div class="container">
            <h1>Company &amp; Profile</h1>
            <ol class="breadcrumb">
                <li class="pull-left">Company &amp; Profile</li>
                <li><a href="index.php">Home</a></li>
                <li class="active">Company &amp; Profile</li>
            </ol>
        </div>
    </div>
</div>

<section class="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tittle">
                    <img src="~/Content/Home/img/head-top.png" alt="">
                    <h3>who we are</h3>
                    <p style="text-align:justify">Incepted in the year 2018, Sparsh Buildcon Group of Companie's corporate office is located in the Lucknow and spread across the country having its operations in major cities like New Delhi, Lucknow etc. Sparsh Buildcon Group's primary business is development of residential, commercial & retail properties.The company works on a unique business model with earnings arising from developments & rentals. Its exposure across businesses, segments & geographies, mitigates any down cycle in the market. Sparsh Buildcon Group has seen a dream of giving quality homes to the people of Kanpur, Lucknow and other places and that too at a reasonable cost and we are confident that we will achieve what we are striving for.</p>
                 
                     </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/Home/img/about.jpg" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</section>


<!--======= CALL US =========-->

