@{
    ViewBag.Title = "Home Page";
}



        <!--======= BANNER =========-->
        <div id="banner">
            <div class="flex-banner">
                <ul class="slides">
                    <!--======= SLIDER =========-->
                    <li>
                        <img src="~/Content/Home/img/slider-img-1.jpg" alt=""></li>
                    <li>
                        <img src="~/Content/Home/img/slider-img-2.jpg" alt=""></li>
                      <li>
                        <img src="~/Content/Home/img/slider-img-3.jpg" alt=""></li>
                    <li>
                        <img src="~/Content/Home/img/slider-img-4.jpg" alt=""></li>
                      <li>
                        <img src="~/Content/Home/img/slider-img-5.jpg" alt=""></li>
                    <li>
                        <img src="~/Content/Home/img/slider-img-6.jpg" alt=""></li>
                </ul>

            </div>
        </div>

        <!--======= SERVICES =========-->
        <section class="services">
            <div class="container">

                <!--======= TITTLE =========-->
                <div class="tittle">
                    <img src="~/Content/Home/img/images/head-top.png" alt="">
                    <h3>services we provide</h3>
                    <p>This time there's no stopping us. Straightnin' the curves. Flatnin' the hills Someday the mountain might get ‘em but the law never will. The weather started getting rough - the tiny ship was tossed.</p>
                </div>
                <ul class="row">

                    <!--======= SERVICE SECTION =========-->
                    <li class="col-sm-3">
                        <section>
                            <!--======= SERVICE IMG =========-->
                            <img class="img-responsive" src="~/Content/Home/img/service-img-1.jpg" alt="">
                            <div class="icon">
                                <img src="~/Content/Home/img/icon-services-1.png" alt="">
                            </div>

                            <!--======= SERVICE HOVER =========-->
                            <div class="ser-hover">
                                <p>And when the odds are against him and their dangers work to do. You bet your life Speed Racer <a href="#." class="read-more">Read more <i class="fa fa-angle-double-right"></i></a></p>
                            </div>
                            <a href="#." class="heading">Residential</a>
                        </section>
                    </li>

                    <!--======= SERVICE SECTION =========-->
                    <li class="col-sm-3">
                        <section>
                            <!--======= SERVICE IMG =========-->
                            <img class="img-responsive" src="~/Content/Home/img/service-img-2.jpg" alt="">
                            <div class="icon">
                                <img src="../Content/Home/img/icon-services-2.png" alt="">
                            </div>

                            <!--======= SERVICE HOVER =========-->
                            <div class="ser-hover">
                                <p>And when the odds are against him and their dangers work to do. You bet your life Speed Racer <a href="#." class="read-more">Read more <i class="fa fa-angle-double-right"></i></a></p>
                            </div>
                            <a href="#." class="heading">industrial</a>
                        </section>
                    </li>

                    <!--======= SERVICE SECTION =========-->
                    <li class="col-sm-3">
                        <section>
                            <!--======= SERVICE IMG =========-->
                            <img class="img-responsive" src="../Content/Home/img/service-img-3.jpg" alt="">
                            <div class="icon">
                                <img src="../Content/Home/img/icon-services-3.png" alt="">
                            </div>

                            <!--======= SERVICE HOVER =========-->
                            <div class="ser-hover">
                                <p>And when the odds are against him and their dangers work to do. You bet your life Speed Racer <a href="#." class="read-more">Read more <i class="fa fa-angle-double-right"></i></a></p>
                            </div>
                            <a href="#." class="heading">Asset management</a>
                        </section>
                    </li>

                    <!--======= SERVICE SECTION =========-->
                    <li class="col-sm-3">
                        <section>
                            <!--======= SERVICE IMG =========-->
                            <img class="img-responsive" src="~/Content/Home/img/service-img-4.jpg" alt="">
                            <div class="icon">
                                <img src="~/Content/Home/img/icon-services-4.png" alt="">
                            </div>

                            <!--======= SERVICE HOVER =========-->
                            <div class="ser-hover">
                                <p>And when the odds are against him and their dangers work to do. You bet your life Speed Racer <a href="#." class="read-more">Read more <i class="fa fa-angle-double-right"></i></a></p>
                            </div>
                            <a href="#." class="heading">financial support</a>
                        </section>
                    </li>
                </ul>
            </div>
        </section>


      
