@{
    ViewBag.Title = "Login";
  
}

@if (TempData["messg"] != null)
{
    <script>
        alert('@TempData["messg"]');
    </script>
}
<script type="text/javascript">
    function sendmesg() {
        debugger;
        var UserName = $("#UserName").val();
        if (UserName != '') {
                    $.ajax({ 
                        url: "/Home/forgotpassword",
                        type: "GET",
                        dataType: "json",
                        data: { userid: UserName },
                        success: function (data) {
                            debugger;
                            for (var i = 0; i < data.length; i++) {
                                alert(data[i].sms);
                            }
                        }
                    })
                
          
        }
        else {
            alert('please enter userid!!');
        }
    }
 
</script>
<style>
.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}
  </style>  <!--======= BANNER =========-->
  <div class="sub-banner" style="background-image: url('../Content/Home/img/lyman-banner-agents.png')">
    <div class="overlay">
      <div class="container">
        <h1>Login</h1>
        <ol class="breadcrumb">
          <li class="pull-left">Login</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">Login</li>
        </ol>
      </div>
    </div>
  </div> 
<div class="container" style="margin-top:20px">
	<div class="row">
         <div class="col-md-6 wow bounceInRight" >
            <img src="~/Content/Home/img/girl.png" class="img-responsive" /></div>
        <div class="col-md-6  wow bounceInLeft" style="margin-top:50px">
            <form action="../Home/login" method="post" class="form-signin mg-btm">
    	<h3 class="heading-desc">
		<button type="button" class="close pull-right" aria-hidden="true">×</button>
		Please Login Here</h3>
		<div class="main">	
        
		<input type="text" class="form-control" id="UserName" placeholder="User Name" name="UserName" autofocus>
        <input type="password" class="form-control" name="Password" placeholder="Password">
		 
		<span class="clearfix"></span>	
        </div>
		<div class="login-footer">
		<div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="left-section">
					<a href="#" onclick="sendmesg()">Forgot your password?</a>
							
				</div>
            </div>

            <div class="col-xs-6 col-md-6 pull-right">
                <button type="submit" name="submit" value="login" class="btn btn-large btn-danger pull-right">Login</button>
            </div>
         </div>
		
		</div>
      </form>
        </div>
        

	</div>

</div>
        