@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var d = db.CompanyInfos.Single(ci => ci.Id == 1);
    var plist = db.Plans.Where(a => a.status == 1).ToList();
    var blk = db.BlockTabs.ToList();        
    ViewBag.Title = "Project";  
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".love").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/AutoCompleteAgentid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script> 
 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
  /* Tooltip */
      .ashish + .tooltip > .tooltip-inner {  background-color: #f64b4b; 
      color: #FFFFFF; 
      border: 1px solid red; 
      padding: 15px;
      font-size: 20px;
      width:250px;
      
      }      

  .test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
      width:250px;
    
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }

    .love {
        background-color:#def8e3;
    }
    input[type=text] {
      padding:10px;
    }
    h4 {
      
      font-weight:bold;
      color:#2f571c;
    }

  </style>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    function selectblock(id) {
        debugger;
        $.get("../Home/selectblock", { blist: id }, function data(t) {
            debugger;
            var term = $("#block_id");
            term.children().remove();
            $("#block").children().remove();
            $("#block1").children().remove();
                term.append('<option value="Select">Select</option>');
                for (var i = 0; i < t.length; i++){term.append('<option value="' + t[i].Id + '">' + t[i].block + '</option>');}
        });
    }

    function block(id) {
        debugger;
       
        $("#block1").children().remove();
        var b = $("#block option:selected").text();

        var projectid = $("#project").val();
        var phaseid = $("#phase").val();
        //var bb = b.split(" ");
        //var bbb = bb[1];
        var bbb = b[b.length - 1];
        $.get("../Home/soldplot", { projectid: projectid, phaseid: phaseid, blockid: id }, function (item) {
            debugger;
                $("#block1").children().remove(); 
                for (var i = 0; i <= item.length ; i++) {
                    var ss = item[i].status;
                    if (ss == 1) {
                        $("#block1").append("<div class='col-lg-1'><p id='ankur" + i + "' class='ashish' style='float:left;margin-left:10px;width:50px;background-color:red;height:40px;color:wheat;text-align:center;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " ALREADY SOLD'>" + bbb + item[i].id + " </b></p></div>");
                    }
                    else if(ss==3) {
                        $("#block1").append("<div class='col-lg-1'><p id='ankur" + i + "' class='ashish' style='float:left;margin-left:10px;width:50px;background-color:#e4ce12;height:40px;color:wheat;text-align:center;color:black;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " HOLD'>" + bbb + item[i].id + " </b></p></div>");
                    }
                    else if (ss == 4) {
                        $("#block1").append("<div class='col-lg-1'><p id='ankur" + i + "' class='ashish' style='float:left;margin-left:10px;width:50px;background-color:#083d6b;height:40px;color:wheat;text-align:center;color:white;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " Registered'>" + bbb + item[i].id + " </b></p></div>");
                    }
                    else {
                        var newid = +i;
                        var myModal = newid + "_a";
                        $("#block1").append("<a type='text' data-toggle='modal' data-target='#" + myModal + "'><div class='col-lg-1'><p id='ankur" + i + "' class='test' style='float:left;margin-left:10px;width:50px;background-color:green;height:40px;color:wheat;text-align:center;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " AVAILABLE'><b>" + bbb + item[i].id + "</b></p></div></a> ");
                        $("#ankurpop").append("<div id=" + myModal + " class='modal fade' role='dialog' style='margin-top:100px;top: 0;left: 0;width: 100%;'><div class='modal-dialog'><div class='modal-content'><div class='modal-header'><button type='button' class='close data-dismiss='modal'>&times;</button><h4 class='modal-title'><i class='fa fa-home' aria-hidden='true'></i> &nbsp; Hold Plots</h4></div><div class='modal-body'><form action='/Home/holdplot' method='get'><div class='form-group'><label>Project Name</label><br><labe>" + item[i].projectname + " </label><input type='hidden' name='projectid' id='" + newid + "_b" + "' value=" + item[i].projectid + " /></div><div class='form-group'><label>Block Name</label><br><label style='font-weight:500;'>" + item[i].blockname + " </label><input type='hidden' id='" + newid + '_c' + "' name='blockid' value=" + item[i].blockid + " /></div><div class='form-group'><label>Plot No.</label><br><label style='font-weight:500;'>" + item[i].id + "</label><input type='hidden' id='" + newid + "_d" + "' name='id' value=" + item[i].id + " /></div><div class='form-group'><label>Advisior Id</label><input type='text' id='" + newid + "_e" + "' name='newagent' class='form-control love' /></div><label class='msg'></label></div></form><div class='modal-footer'><button type='sumbit' class='btn btn-default' data-dismiss='modal'>Close</button><button type='button' id='" + newid + "_s" + "' onclick='asinsert(this.id)' class='btn btn-default btnaction'>Submit</button></div></div></div></div>");
                    }
                    $("#ashish" + i).tooltip();
                }
        })}

    function asinsert(id)
    {
        debugger;
        var pid = id.split('_');
        var id = ("#" + pid[0]);
        var projectid = $(id + "_b").val();
        var blockid = $(id + "_c").val();
        var sid = $(id + "_d").val();
        var newagent = $(id + "_e").val();

        $.get('../Home/Plotholding', { newagent: newagent, blockid: blockid, sid: sid, plotid: projectid }, function data(d) {
            debugger;
            var message = "" + d + "";
            alert("" + message + ""); window.location.href = "../Home/Project";
        })


        var b = $("#block_id option:selected").text();
        var bb = b.split(" ");
        var bbb = bb[1];
        $.get("../Home/soldplot", { projectid: $("#Plan_id").val(), blockid: id }, function (item) {
            $("#block").children().remove();
            for (var i = 0; i <= item.length ; i++) {
                var ss = item[i].status;
                if (ss == 1) {
                    $("#block").append("<div class='col-lg-1'><p id='ankur" + i + "' class='ashish' style='float:left;margin-left:10px;width:50px;background-color:red;height:40px;color:wheat;text-align:center;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " ALREADY SOLD'>" + bbb + item[i].id + " </b></p></div>");
                }
                else if (ss == 3) {
                    $("#block").append("<div class='col-lg-1'><p id='ankur" + i + "' class='ashish' style='float:left;margin-left:10px;width:50px;background-color:#e4ce12;height:40px;color:wheat;text-align:center;color:black;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " HOLD'>" + bbb + item[i].id + " </b></p></div>");
                }
                else {
                    var newid = +i;
                    var myModal = newid + "_a";
                    $("#block").append("<a type='text' data-toggle='modal' data-target='#" + myModal + "'><div class='col-lg-1'><p id='ankur" + i + "' class='test' style='float:left;margin-left:10px;width:50px;background-color:green;height:40px;color:wheat;text-align:center;' data-toggle='tooltip' data-placement='top' title='Plot no: " + bbb + item[i].id + " AVAILABLE'><b>" + bbb + item[i].id + "</b></p></div></a> ");
                    $("#ankurpop").append("<div id=" + myModal + " class='modal fade' role='dialog' style='margin-top:100px;top: 0;left: 0;width: 100%;'><div class='modal-dialog'><div class='modal-content'><div class='modal-header'><button type='button' class='close data-dismiss='modal'>&times;</button><h4 class='modal-title'><i class='fa fa-home' aria-hidden='true'></i> &nbsp; Hold Plots</h4></div><div class='modal-body'><form action='/Home/holdplot' method='get'><div class='form-group'><label>Project Name</label><br><labe>" + item[i].projectname + " </label><input type='hidden' name='projectid' id='" + newid + "_b" + "' value=" + item[i].projectid + " /></div><div class='form-group'><label>Block Name</label><br><label style='font-weight:500;'>" + item[i].blockname + " </label><input type='hidden' id='" + newid + '_c' + "' name='blockid' value=" + item[i].blockid + " /></div><div class='form-group'><label>Plot No.</label><br><label style='font-weight:500;'>" + item[i].id + "</label><input type='hidden' id='" + newid + "_d" + "' name='id' value=" + item[i].id + " /></div><div class='form-group'><label>Adivisior Id</label><input type='text' id='" + newid + "_e" + "' name='newagent' onkeyup='validate()' class='form-control love' /></div></div></form><div class='modal-footer'><button type='sumbit' class='btn btn-default' data-dismiss='modal'>Close</button><button type='button' id='" + newid + "_s" + "' onclick='asinsert(this.id)' class='btn btn-default btnaction'>Submit</button></div></div></div></div>");
                }
                $("#ashish" + i).tooltip();
            }
        })


    }

    function closewindow(){
        $('#product-options').modal('hide');
    }
    </script>

<script type="text/javascript">
    function validate() {
        var advisiorid=$("love").val();
        $.get('../Home/advisiorvalidation', { advisiorid: advisiorid }, function data(d){
            if (d == 1) {
                $("love").val("");
            }
            else {
                $("msg").text("Wrong AgentId");
                $("btnaction").prop('disabled', false);
            }

            //if (t == 1) {
            //    alert("This Position is already Exists");
            //    $("#btnaction").prop('disabled', true);
            //}
            //else {
            //    $("#btnaction").prop('disabled', false);
            //}

        })

    }
</script> 

<script>
    jQuery(function () {

        $('#project').on('change', function () 
        {
            debugger;
            var a = $(this).val();
            $.get("/home/Jsonresult", { Project: a, Recogniser: "getPhase" }, function (d) {
              
                if (d != 0) {
                    debugger;
                    $('#phase').children().remove();
                    $('#phase').append('<option disabled selected>--Select Phase Name--</option>');                    
                    $.each(d,function(a){
                        $('#phase').append('<option value=' + d[a].Id + '>' + d[a].Phase + '</option>');
                    });
                }
                else {
                    $('#phase').children().remove();
                    $('#block').children().remove();
                    $('#phase').append('<option disabled selected>--No Phase Found--</option>');

                }

            });
        });

        $('#phase').on('change', function () {
            var phase = $(this).val();
            $.get("/home/Jsonresult", { Project: phase, Recogniser: "getBlock" }, function (d) {
            if (d != 0) {
                debugger;
                $('#block').children().remove();
                $('#block').append('<option disabled selected>--Select Block Name--</option>');
                $.each(d, function (a) {
                    $('#block').append('<option value=' + d[a].Id + '>' + d[a].block + '</option>');
                });
            }
            else {
                $('#block').children().remove();
                $('#block').append('<option disabled selected>--No Phase Found--</option>');

            }

        });

        });

        $('#block').on('change', function () {

            $.get("/home/Jsonresult", { Project: $(this).val(), Recogniser: "getPlot" }, function (d) {

            });

        });
    });
</script>

<link href="../Content/Home/css/globalstyle.css" rel="stylesheet" />
  <!--======= BANNER =========-->
  <div class="sub-banner" style="background-image:url('../Content/Home/img/lyman-banner-agents.png')">
    <div class="overlay">
      <div class="container">
        <h1>Our Project</h1>
        <ol class="breadcrumb">
          <li class="pull-left">Our Project</li>
          <li><a href="../Home/Index">Home</a></li>
          <li class="active">Our Project</li>
        </ol>
      </div>
    </div>
  </div>
  

<section class="slice relative bg-white bb animate-hover-slide">
    <div class="wp-section">
        <div class="container">
            <div class="section-title-wr">
                <h3 class="section-title left"><span>Our Latest Project</span></h3>
            </div>
            @*  @foreach(var p in plist)
                {
                    *@
            <div class="row">
                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="/Content/Home/img/MCG1.jpg" height="300" width="200">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="/Content/Home/img/MCG1.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i>Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i>View</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="/Content/Home/img/MCG2.jpg" height="300" width="200">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="/Content/Home/img/MCG2.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i>Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i>View</a>
                            </div>
                        </div>
                       
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="/Content/Home/img/SAY1.jpg" height="300" width="200">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="/Content/Home/img/SAY1.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i>Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i>View</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="/Content/Home/img/SAY2.jpg" height="300" width="200">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="/Content/Home/img/SAY2.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i>Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i>View</a>
                            </div>
                        </div>
                        
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="/Content/Home/img/SAY3.jpg" height="500" width="200">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="/Content/Home/img/SAY3.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i>Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i>View</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wp-block inverse">
                        <div class="figure">
                            <img alt="" src="/Content/Home/img/SAY4.jpg" height="500" width="200">
                            <div class="figcaption bg-base"></div>
                            <div class="figcaption-btn">
                                <a href="/Content/Home/img/SAY4.jpg" class="btn btn-xs btn-b-white theater"><i class="fa fa-plus-circle"></i>Zoom</a>
                                <a href="#" class="btn btn-xs btn-b-white"><i class="fa fa-link"></i>View</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            @*}*@
            <br />
            <br />
            <div class="row">
                <h2>Check Your Plot Availiability</h2>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="project">
                        <h4>Project Name</h4>
                    </label>
                    <select id="project" name="project" class="form-control">
                        <option disabled selected>--Select Project Name--</option>
                        @foreach (var item in db.Plans.Where(aa => aa.status == 1).ToList())
                        { 
                            <option value="@item.Plancode">@item.Planname</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="phase">
                        <h4>Choose Phase</h4>
                    </label>
                    <select id="phase" name="phase" class="form-control">
                    </select>

                </div>
                <div class="col-md-4">
                    <label for="block">
                        <h4>Enter Block</h4>
                    </label>
                    <select id="block" name="block" onchange="block(this.value)" class="form-control">
                        <option disabled selected>--Select Block--</option>


                    </select>

                </div>


            </div>
        </div>
    </div>
</section>
 <br />  <br />
<section>
    <div id="block1"></div>
</section>