@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var obr = db.Operators.Single(b => b.OperatorId == User.Identity.Name);
    var mr = db.Members.Single(m => m.Id == 1);
 
    var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
    var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
    var plan3 = db.Plans.Single(p3 => p3.Plancode == 3);
    var plan4 = db.Plans.Single(p4 => p4.Plancode == 4);
    var f1 = db.VFormatTabs.Single(f => f.Id == 1);
    var f2 = db.VFormatTabs.Single(f => f.Id == 2);
    var f3 = db.VFormatTabs.Single(f => f.Id == 3);
    
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";   
    ViewBag.Title = "PaymentMenu";
}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Welcome @obr.OperatorId</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">PaymentMenu</a></li>

            </ol>

        </div>
                    <div class="row">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">Welcome @obr.OperatorId</h3>
                </div>
                <div class="card-body">
        <div class="row row-cards">
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-info card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/PaymentRenewal" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Payment Renewal
											
                                            <img alt="" src="~/Images/icon/54.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-primary  card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/PartPayment" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Part Payment
											
                                            <img alt="" src="~/Images/icon/54.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            
            
        </div>
</div>
    </div>

  </div>
</div>
    </div>













