@{
    ViewBag.Title = "allocatepins";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card form-group">
            <div class="col-md-3">
                <div class="form-group label-floating">
                    <label class="control-label">Available Balance</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating">
                    <label class="control-label">Product</label>
                    <input type="text" class="form-control">
                    <select class="form-control">
                        <option>select</option>
                        <option>Education Package(3000)</option>
                        <option>Production 10000</option>
                        <option>Production 100000</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group label-floating">
                    <label class="control-label">No. Of Pins</label>
                    <input type="text" class="form-control">
                </div>
            </div>
                        <div class="col-md-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-md">Allot</button>
                </div>
            </div>
        </div>
    </div>
</div>