@{
    ViewBag.Title = "Ebook";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}


<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide1.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide2.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide3.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide4.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide5.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide6.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide7.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide8.JPG" alt="" />
        
    </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide9.JPG" alt="" />
        </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide10.JPG" alt="" />
        
    </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide11.JPG" alt="" />
        
    </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide1.JPG" alt="" />
        
    </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide12.JPG" alt="" />
        
    </div>

          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide13.JPG" alt="" />
        
    </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide14.JPG" alt="" />
        
    </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-1">
        
                <img class="img-responsive" src="~/Images/Ebook/Slide15.JPG" alt="" />
        
    </div>
    
</div>
