@{
    ViewBag.Title = "Pinhistory";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color: #00B356;">
                <h4 class="title">Pins Wallet</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Date</th>
                            <th>Account Of</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Narration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>02/11/2017</td>
                            <td>Oud-Turnhout</td>
                            <td>Dakota Rice</td>
                            <td>Niger</td>
                            <td class="text-primary">3000</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-primary">Balance Till Today(0.00)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>