@{
    ViewBag.Title = "pinwallettransfer";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card form-group">
            <div class="row" style="margin-left:2%; margin-right:2%">
            <div class="col-md-4">
                <div class="form-group label-floating">
                    <label class="control-label">Available Balance</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group label-floating">
                    <label class="control-label">Points Transfer to Pin Wallet</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-right:2%">
                    <button type="submit" class="btn btn-primary btn-md pull-right">Transfer</button>
                </div>
            </div>
                </div>
    </div>
</div>
    </div>