@{
    ViewBag.Title = "successfull";
    Layout = "~/Views/Shared/_member_new_layout.cshtml";
}

<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">@ViewData["msg"]</div>
        <div class="col-md-2"></div>
    </div>
</div>
