

@using SPARSHBUILDCON.Models; 
@{
    UsersContext db = new UsersContext();
    ViewBag.Title = "Successfully";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
 
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
<script src="//code.jquery.com/jquery-1.10.2.js"></script>  
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 




























<h3 style="color:red;">@ViewData["msg"]</h3> 


