@{
    ViewBag.Title = "Weeklyincome";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color: #00B356;">
                <h4 class="title">Total Distributor in Team - 1</h4>
                <h4 class="title">Total Directs - 1</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Date</th>
                            <th>Auto Sharing Points</th>
                            <th>15 Level Woring Points</th>
                            <th>Total Points</th>
                            <th>Processing</th>
                            <th>Net Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                            <td>Dakota Rice</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                            <td class="text-primary">3000</td>
                        </tr>
                        <tr>
                            <td class="text-primary" colspan="2">
                                <center>Total</center>
                            </td>
                            <td class="text-primary">Niger</td>
                            <td class="text-primary">Oud-Turnhout</td>
                            <td class="text-primary">Dakota Rice</td>
                            <td class="text-primary">Niger</td>
                            <td class="text-primary">Oud-Turnhout</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <button type="submit" class="btn btn-primary pull-right">Download Excel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>